---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

I am fortunate to have had the opportunities to serve as the teaching assistant and reader for the following courses.
  - STATS 100A: Introduction to Probability (S26)
  - STATS 10: Introduction to Statistical Reasoning (W26, Sp26)
  - STATS 13: Introduction to Statistical Methods for Life and Health Sciences (F25)
